<div class="products-control">
    <h1 class="product-title">{{this.product}}</h1>
    <img id={{this.cssId}} src={{this.imgPath}} alt="celular">
    <p class="brand">{{this.brand}}</p>
    <p class="price">{{this.price}}</p>
    <a href="/produtos/{{id}}" class="link-button"><span class="link-content">Ver produto</span></a>
</div>




